.content {
    width: 1000px;

    margin-top: 15px;
}

.messages-box {
    height: 450px;

    overflow-y: auto;
    overflow-x: hidden;

    border: solid #337ab7;
    border-radius: 10px;

    margin-bottom: 10px;
    padding: 10px;
}

.message {
    border-radius: 10px;

    clear: both;

    padding: 10px;
    margin-bottom: 3px;
}

.message.self {
    background-color: #5bc0de;
    float: right;
}

.message.else {
    background-color: lightgrey;
    float: left;
}

.message.bot {
    background-color: chartreuse;
    float: left;
}

.message .details {
    float: left;

    width: 120px;
}

.message .details .date {
    display: block;

    font-size: 10px;
}

.message .text {
    display: inline-block;
    position: relative;

    padding-left: 10px;
    padding-right: 10px;
}

.registration-box {
    text-align: center;
}

.registration-box .input-group {
    width: 400px;

    margin: auto;

    border: solid #337ab7;
    border-radius: 10px;

    margin-bottom: 10px;
    padding: 10px;
}